<%- include('partials/header') %>

            </div>
          </div>
          <div class="mt-5">
            <form action="/form" method="POST">
            <div class="form">
                <div class="md:flex flex-row md:space-x-4 w-full text-xs">
                  <div class="mb-3 space-y-2 w-full text-xs">
                    <label class="font-semibold text-base text-gray-800 py-2">Nama Lengkap </label>
                    <input type="text" autocomplete="off" value="<%=user.nama%>" name="nama" id="first_name" placeholder="Nama lengkap" class="appearance-none block w-full bg-grey-lighter text-sm text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" required="required" type="text" >
                  </div>
                  <div class="mb-3 space-y-2 w-full text-xs">
                    <label class="font-semibold text-base text-gray-800 py-2">NPM </label>
                    <input type="text" autocomplete="off" value="<%=user.npm%>" name="npm" id="last_name" placeholder="140310-" class="appearance-none block w-full bg-grey-lighter text-sm text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" required="required" type="text" >
                    </div>
                 </div>
                <div class="mb-3 space-y-2 w-full text-xs">
                  <label class=" font-semibold text-base text-gray-800 py-2">Tempat Lahir</label>
                  <div class="flex flex-wrap items-stretch w-full mb-4 relative">
                    
                    <input autocomplete="off" value="<%=user.ttl%>" name="ttl" type="text" id="email_address" class="text-sm flex-shrink flex-grow flex-auto leading-normal w-px flex-1 border border-l-0 h-10 border-grey-light rounded-lg rounded-l-none px-3 relative focus:border-blue focus:shadow" placeholder="Kota,Provinsi,Negara">
                            </div>
                  </div>
                <div class="mb-3 space-y-2 w-full text-xs">
                    <label class=" font-semibold text-base text-gray-800 py-2">Tanggal Lahir</label>
                    <div class="flex flex-wrap items-stretch w-full mb-4 relative">
                      
                      <input type="date" autocomplete="off" value="<%=user.tgl%>" name="tgl" id="email_address" class="text-sm flex-shrink flex-grow flex-auto leading-normal w-px flex-1 border border-l-0 h-10 border-grey-light rounded-lg rounded-l-none px-3 relative focus:border-blue focus:shadow">
                    </div>
                </div>
                  <div class="md:flex md:flex-row md:space-x-4 w-full text-xs">
                    <div class="w-full flex flex-col mb-3">
                      <label class="font-semibold text-base text-gray-800 py-2">Agama</label>
                      <select value="<%=user.agama%>" name="agama" id="email_address" class="text-sm block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4 md:w-full " required="required" name="integration[city_id]" id="integration_city_id">
                        <option value="">Pilih Agama</option>
                       <option value="">Islam</option>
                        <option value="">Kristen</option>
                        <option value="">Katolik</option>
                       <option value="">Budha</option>
                       <option value="">Hindu</option>
                       <option value="">Konghucu</option>
                        </select>
                      
                    </div>
                      <div class="w-full flex flex-col mb-3">
                        <label class="font-semibold text-base text-gray-800 py-2">Golongan Darah</label>
                        <select value="<%=user.goldar%>" name="goldar" id="city" class="text-sm block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4 md:w-full " required="required" name="integration[city_id]" id="integration_city_id">
                                  <option value="">Pilih Golongan Darah</option>
                                 <option value="">A</option>
                                  <option value="">B</option>
                                 <option value="">O</option>
                         <option value="">AB</option>
                                  </select>
                        
                      </div>
                    </div>
                    <div class="md:flex flex-row md:space-x-4 w-full text-xs">
                      <div class="mb-3 space-y-2 w-full text-xs">
                        <label class="font-semibold text-base text-gray-800 py-2">Nomor Handphone </label>
                        <input value="<%=user.hp%>" autocomplete="off" name="hp" id="city" placeholder="+62" class="text-sm appearance-none block w-full bg-grey-lighter text-sm text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" required="required" type="text" >
                        
                      </div>
                      <div class="mb-3 space-y-2 w-full text-xs">
                        <label class="font-semibold text-base text-gray-800 py-2">Email </label>
                        <input value="<%=user.email%>" autocomplete="off" name="email" id="city" placeholder="emailadress@mail.com" class="text-sm appearance-none block w-full bg-grey-lighter text-sm text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" required="required" type="text" >
                        
                      </div>
                    
                    </div>
    
                    <div class="mb-3 space-y-2 w-full text-xs">
                      <label class=" font-semibold text-base text-gray-800 py-2">Alamat Rumah</label>
                      <div class="flex flex-wrap items-stretch w-full mb-4 relative">
                        
                        <input autocomplete="off" value="<%=user.rumah%>" name="rumah" id="street_address" type="text" class="text-sm flex-shrink flex-grow flex-auto leading-normal w-px flex-1 border border-l-0 h-10 border-grey-light rounded-lg rounded-l-none px-3 relative focus:border-blue focus:shadow" placeholder="Jalan,RT,RW,Kecamatan,Kota,Provinsi">
                        </div>
                      </div>
                    <div class="mb-3 space-y-2 w-full text-xs">
                      <label class=" font-semibold text-base text-gray-800 py-2">Alamat Kos</label>
                      <div class="flex flex-wrap items-stretch w-full mb-4 relative">
                          
                        <input autocomplete="off" value="<%=user.kos%>" name="kos" id="street_address" type="text" class="text-sm flex-shrink flex-grow flex-auto leading-normal w-px flex-1 border border-l-0 h-10 border-grey-light rounded-lg rounded-l-none px-3 relative focus:border-blue focus:shadow" placeholder="Jalan,RT,RW,Kecamatan,Kota,Provinsi">
                        </div>
                      </div>
                    <div class="flex-auto w-full mb-1 text-xs space-y-2">
                        <label class="font-semibold text-base text-gray-800 py-2">Riwayat Pendidikan</label>
                        <textarea value="<%=user.pendidikan%>" name="pendidikan" required="" name="message" id="" class="w-full text-sm min-h-[100px] max-h-[300px] h-28 appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg  py-4 px-4" placeholder=" Tahun Pelajaran - Nama Tempat Studi - Jenjang Pendidikan. contoh : 2016-2020 - Universitas Padjajaran - Perguruan Tinggi" spellcheck="false"></textarea>
                        
                      </div>
                    <div class="flex-auto w-full mb-1 text-xs space-y-2">
                        <label class="font-semibold text-base text-gray-800 py-2">Riwayat Kepanitiaan</label>
                        <textarea value="<%=user.panitia%>" name="panitia" required="" name="message" id="" class="w-full text-sm min-h-[100px] max-h-[300px] h-28 appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg  py-4 px-4" placeholder="Tahun diselenggarakan - Nama kepanitiaan - jabatan. contoh : 2020 - Dies Natalis HIFI 2020 - Staf Divisi Acara" spellcheck="false"></textarea>
                        
                      </div>
                    <div class="flex-auto w-full mb-1 text-xs space-y-2">
                        <label class="font-semibold text-base text-gray-800 py-2">Riwayat Keorganisasian</label>
                        <textarea value="<%=user.organisasi%>" name="organisasi" required="" name="message" id="" class="w-full text-sm min-h-[100px] max-h-[300px] h-28 appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg  py-4 px-4" placeholder="Tahun menjabat - Nama Organisasi - Jabatan. contoh : 2021 - HIFI 2021 - Staf Departemen Kaderisasi" spellcheck="false"></textarea>
                        
                      </div>
                      <div class="flex-auto w-full mb-1 text-xs space-y-2">
                        <label class="font-semibold text-base text-gray-800 py-2">Daftar Pelatihan</label>
                        <textarea value="<%=user.pelatihan%>" name="pelatihan" required="" name="message" id="" class="w-full text-sm min-h-[100px] max-h-[300px] h-28 appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg  py-4 px-4" placeholder="Tahun diselenggarakan - Nama pelatihan - tingkat (univ kota dll). contoh : 2019 - LKMM - Universitas (jurusan)" spellcheck="false"></textarea>
                        
                      </div>
                      <div class="flex-auto w-full mb-1 text-xs space-y-2">
                        <label class="font-semibold text-base text-gray-800 py-2">Daftar Prestasi</label>
                        <textarea value="<%=user.prestasi%>" name="prestasi" required="" name="message" id="" class="w-full text-sm min-h-[100px] max-h-[300px] h-28 appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg  py-4 px-4" placeholder="Tahun diselenggarakan - Juara (1 2 3 dll) Nama kegiatan - tingkat (kab kota dll). contoh : 2020 - Juara I Putri Mipa - Universitas (fakultas)" spellcheck="false"></textarea>
                        
                      
                      <button type="back" class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider border text-gray-800 hover:shadow-lg hover:bg-gray-100 rounded-md"> Kembali </button>
                      <button type="submit" class="mb-2 md:mb-0 bg-blue-700 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white hover:shadow-lg hover:bg-blue-900 rounded-md"> Simpan </button>
                    </div>
                  </form>
            </div>
       </div>
    </div> 
  </div>

  <div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
      <div class="border-t border-gray-200"></div>
    </div>
  </div>
 </div>

<%- include('partials/footer') %>
